// Typography
$headingText: "DM Serif Display", serif;
$bodyText: "Karla", sans-serif;

// Primary Colors

$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);

// Neutral Colors

$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%);

html {
  font-size: 50%;
}
body {
  margin: 0;
  font-size: 2rem;
  font-family: $bodyText;
  overflow-x: hidden;
}
header {
  padding: 0 120px;
}
.headerContentWrapper {
  display: flex;
  align-items: center;
  max-width: 1105px;
  margin: 0 auto;
  height: 80px;
  justify-content: space-between;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
}
ul li:not(:last-child) {
  margin: 0 24px 0 0;
}
.navLink {
  text-decoration: none;
  text-transform: uppercase;
  color: $darkGrayishViolet;
  transition: all 0.3s;
}
.navLink:hover {
  color: $veryDarkViolet;
}
.headerButton {
  padding: 11px 24px;
  font-size: 1.75rem;
  background-color: white;
  border: 2px solid $veryDarkViolet;
  color: $veryDarkViolet;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}
.headerButton:hover {
  background-color: $veryDarkViolet;
  color: white;
}
.hero {
  display: flex;
  height: 600px;
  flex-direction: row-reverse;
  padding: 0px 40px;
  background-color: $darkViolet;
  align-items: center;
  justify-content: center;
}
.hero::after {
  content: url(/images/bg-pattern-intro-right-desktop.svg);
  position: absolute;
  right: 0;
  top: 10rem;
}
.hero::before {
  content: url(/images/bg-pattern-intro-left-desktop.svg);
  position: absolute;
  left: 0;
  top: 45rem;
}
.heroTextWrapper {
  width: 545px;
  padding: 0 3rem 0 0;
}
.heroLine {
  width: 18.5rem;
  margin: 0 0 8rem 0;
}
.websiteHeading {
  font-size: 8.5rem;
  line-height: 8rem;
  font-family: $headingText;
  font-weight: 400;
  color: white;
  margin: 0 0 3rem 0;
  width: 510px;
}
.heroParagraph {
  color: white;
  line-height: 3.5rem;
  margin: 0 0 3rem 0;
}
.heroButton {
  border: 2px solid white;
  color: white;
  background-color: transparent;
  transition: all 0.3s;
}
.heroButton:hover {
  border: 2px solid white;
  color: $darkViolet;
  background-color: white;
}
.footerButton {
  border: 2px solid white;
  color: white;
  background-color: transparent;
  transition: all 0.3s;
  z-index: 5;
}
.footerButton:hover {
  border: 2px solid white;
  color: $darkViolet;
  background-color: white;
}
.heroImg {
  transform: translateY(13rem);
}
.features {
  padding: 38rem 5rem 20rem 5rem;
  display: flex;
  justify-content: center;
}
.featuresContentWrapper {
  max-width: 1150px;
  align-items: flex-start;
}
.featuresHeading {
  color: black;
  margin: 0 0 10.5rem 0;
}
.featuresList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2.5rem;
  grid-row-gap: 6rem;
  justify-items: center;
}
.featureItem {
  max-width: 355px;
}
.featureImg {
  margin: 0 0 4rem 0;
}
.featureItemHeading {
  font-family: $headingText;
  color: black;
  font-size: 3.375rem;
  font-weight: 400;
  margin: 0 0 2.5rem 0;
}
.featureItemParagraph {
  font-size: 2rem;
  color: $darkGrayishViolet;
  line-height: 3rem;
  margin: 0;
}
.cta {
  padding: 0 5rem;
  margin: 0 0 18rem 0;
}
.ctaContentWrapper {
  margin: 0 auto;
  background-color: $darkViolet;
  max-width: 950px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8.5rem 10rem;
  overflow: hidden;
}
.ctaContentWrapper::before {
  content: url(/images/bg-pattern-how-we-work-desktop.svg);
  position: absolute;
  right: 0;
}
.ctaHeading {
  max-width: 60rem;
  font-size: 6.75rem;
  line-height: 7rem;
  margin: 0;
}
footer {
  padding: 0 5rem;
  justify-content: center;
  background: url(images/bg-pattern-footer-desktop.svg) $veryLightGray;
  background-repeat: no-repeat;
}
.footerContentWrapper {
  max-width: 1110px;
  margin: 0 auto;
}
.footerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
.footerSocialMedia a:not(:last-child) {
  margin-right: 1.5rem;
}
.footerBody {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footerNavBar {
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}
.socialLink {
  transition: all 0.3s;
  text-decoration: none;
}
.socialLink:hover {
  filter: brightness(70%);
}
.footerHeading {
  font-size: 2rem;
  font-weight: 400;
  color: $darkGrayishViolet;
  margin: 0 0 4rem 0;
}
.footerMenuLink {
  color: $veryDarkViolet;
  text-decoration: none;
  transition: all 0.3s;
}
.footerMenuLink:hover {
  text-decoration: underline;
}
.navBlock ul li {
  margin: 0 0 1.5rem 0;
}
.hamburgerMenu {
  display: none;
}
@media (max-width: 1200px) {
  header {
    padding: 0 5rem;
  }
  .heroImg {
    width: 35vw;
    transform: none;
    min-height: 450px;
    object-fit: cover;
  }
  .heroTextWrapper {
    width: 500px;
  }
}
@media (max-width: 1000px) {
  .heroImg {
    width: 30vw;
  }
  .websiteHeading {
    font-size: 7.5rem;
    width: 490px;
  }
  .ctaHeading {
    font-size: 5rem;
    width: 350px;
  }
  .featuresList {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 799px) {
  .websiteNavMenu {
    position: absolute;
    z-index: 2;
    top: 10rem;
    left: -3rem;
    width: 100vw;
    height: 0;
    padding-top: 6rem;
    opacity: 0;
  }
  .websiteNavMenuActive {
    position: absolute;
    opacity: 1;
    z-index: 2;
    top: 10rem;
    left: -3rem;
    width: 110vw;
    background: url(/images/bg-pattern-mobile-nav.svg) $veryDarkViolet;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: calc(100vh - 10rem);
    padding-top: 48px;
    transition: all 0.3s ease-out;
  }
  .disableScroll {
    overflow-y: hidden;
  }
  .navList {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .navLink {
    color: white;
    font-size: 2.5rem;
    word-spacing: 2px;
    letter-spacing: 2px;
    text-decoration: none;
    margin: 0;
  }
  ul li:not(:last-child) {
    margin: 0 0 5rem 0;
  }
  .headerButton {
    border: 2px solid white;
    padding: 2rem 8rem;
    background-color: transparent;
    color: white;
    font-size: 2.5rem;
    font-weight: initial;
  }
  .hamburgerMenu {
    border: 2px solid $veryDarkViolet;
    padding: 8px 5px;
    background-color: white;
    cursor: pointer;
    outline: none;
    display: block;
  }
  .hamburgerMenuBar {
    display: block;
    width: 2.25rem;
    height: 2px;
    background-color: $darkViolet;
    transition: all 0.3s;
  }
  .hamburgerMenuBar:not(:last-child) {
    margin-bottom: 3px;
  }
  .hamburgerMenuOpen .hamburgerMenuBarTop {
    transform: rotate(45deg) translate(3px, 4px);
  }
  .hamburgerMenuOpen .hamburgerMenuBarMiddle {
    opacity: 0;
  }
  .hamburgerMenuOpen .hamburgerMenuBarBottom {
    transform: rotate(-45deg) translate(3px, -4px);
  }
  header {
    padding: 0 3rem;
  }
  .hero {
    flex-direction: column;
    height: auto;
    padding: 0;
  }
  .hero::before {
    content: url(/images/bg-pattern-intro-left-mobile.svg);
    top: 66.5rem;
  }
  .hero::after {
    content: url(/images/bg-pattern-intro-right-mobile.svg);
    bottom: -53rem;
    top: auto;
  }
  .heroLine {
    display: none;
  }
  .heroImg {
    object-fit: cover;
    width: 100vw;
    height: 451px;
  }
  .heroTextWrapper {
    text-align: center;
    padding: 11.5rem 3rem;
    width: auto;
  }
  .websiteHeading {
    font-size: 5.615rem;
    line-height: 6rem;
    letter-spacing: 1px;
    width: auto;
  }
  .heroParagraph {
    max-width: 60rem;
    width: auto;
  }
  .features {
    text-align: center;
    padding: 17.5rem 3rem;
  }
  .featuresList {
    grid-template-columns: 1fr;
  }
  .ctaContentWrapper {
    flex-direction: column;
    text-align: center;
    padding: 8.5rem 3rem;
  }
  .ctaHeading {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 0px;
    margin: 0 0 4rem 0;
  }
  .footerHeader {
    flex-direction: column;
  }
  .footerLogo {
    margin: 0 0 4rem 0;
  }
  .footerBody {
    grid-template-columns: 1fr 1fr;
  }
  .featuresHeading {
    width: auto;
  }
  .ctaContentWrapper::before {
    content: url(/images/bg-pattern-how-we-work-mobile.svg);
    top: 0;
  }
  .featureLine {
    display: block;
    margin: 5rem auto;
  }
}
@media (max-width: 400px) {
  .cta {
    padding: 0 2rem;
  }
  .footerBody {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footerNavBar {
    align-items: center;
  }
  .navBlock:not(:last-child) {
    margin: 0 0 6rem 0;
  }
}
